body {
  padding: 0;
  margin: 0;
}

#app {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  min-height: 100vh;
  * {
    box-sizing: border-box;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  max-width: 1360px;
  margin: auto;
}

header.header {
  .header__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
  }
  .header__subtitle {
    color: #1f1f1f;
    line-height: 16px;
    width: 100%;
    a {
      font-weight: 500;
      color: #1f1f1f;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .header__actions {
    display: flex;
    button.header__actions-btn {
      width: 50px;
      height: 50px;
      border: none;
      background: none;
      color: #4f4f4f;
      cursor: pointer;
      transition: color 0.3s ease-out;
      &:hover {
        color: #000;
      }
    }
  }
}

@keyframes skeleton {
  0% {
    background: #efefef;
  }
  50% {
    background: #e8e8e8;
  }
  100% {
    background: #efefef;
  }
}

.header--skeleton {
  .header--skeleton__title {
    height: 30px;
    margin: 3px 0;
    border-radius: 5px;
    animation: 1.5s skeleton linear infinite;
  }
  .header--skeleton__subtitle {
    height: 16px;
    margin: 4.5px 0;
    border-radius: 5px;
    animation: 1.5s skeleton linear infinite;
  }
  .header--skeleton__actions {
    display: flex;
    .header--skeleton__actions-btn {
      width: 30px;
      height: 30px;
      margin: 10px;
      border-radius: 5px;
      animation: 1.5s skeleton linear infinite;
    }
  }
}
